<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>insert</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>

  <div class="container">
    <div class="row">

      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
        <center>
          <p>Login Page</p>
            <form method="post" action="login">
              <p><input type="text" class="form-control" name="username" placeholder="username"></p>
              <p><input type="password" class="form-control" name="password" placeholder="password"></p>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </center>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div>
</body>
</html>
